@import '~@nti/style-common';

.webinar-registration-complete {
	h2 {
		font-size: 18px;
		font-weight: inherit;
		line-height: 1.222222222;
	}

	svg {
		margin-bottom: 40px;
	}

	.nti-button {
		margin-top: 30px;
		color: var(--secondary-grey);
		background: #fff;
		width: 150px;
		border: 1px solid var(--border-grey)-light;
		border-radius: 4px;
	}
}
