@import '~@nti/style-common';

.goto-webinar-registration-content {
	min-height: 200px;
	max-height: calc(90vh - 100px);
	overflow: auto;
	padding: 30px 25px;

	.webinar-registration-in-progress {
		margin: -30px -25px;
	}

	@include responsive-range(mobile) {
		max-height: none;
	}
}
