.drive-picker.bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem 0;
	padding: 0.5rem 1rem;
	background: white;
	border: 1px solid var(--border-grey-light);

	& .no-selection {
		font-size: 0.875rem;
		font-style: italic;
	}

	& .document {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		text-decoration: none;

		& img {
			margin-right: 0.25rem;
		}

		& .name {
			color: var(--primary-blue);
			font-size: 0.875rem;
		}
	}

	& .launch {
		min-width: 200px;
		text-align: center;
		font-size: 0.875rem;
	}
}

:global(.picker-dialog-bg) {
	background: black !important;
	position: fixed !important;
}

:global(.picker-dialog) {
	position: fixed !important;
}