@import '~@nti/style-common';

.nti-integrations-goto-webinar-list-item {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;

	.meta {
		flex: 1 1 auto;

		.title {
			font: normal 400 1rem/1.3 $body-font-family;
			color: $primary-grey;
		}

		.description {
			font: normal 400 0.875rem/1.3 $body-font-family;
			color: $secondary-grey;
		}
	}


	.connect {
		display: inline-block;
		color: $primary-blue;
		cursor: pointer;
	}

	.disconnect {
		display: inline-block;
		color: $primary-red;
		cursor: pointer;
	}
}
