@import '~@nti/style-common';

.nti-integrations-goto-webinar-list-item {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;

	.meta {
		flex: 1 1 auto;

		.title {
			font: normal 400 1rem/1.3 $body-font-family;
			color: var(--primary-grey);
		}

		.description {
			font: normal 400 0.875rem/1.3 $body-font-family;
			color: var(--secondary-grey);
		}
	}


	.connect {
		display: inline-block;
		color: $primary-blue;
		cursor: pointer;

		&.error {
			color: var(--primary-red);
		}
	}

	.account-name {
		display: inline-block;
		color: var(--tertiary-grey);
		cursor: pointer;

		span, i {
			vertical-align: middle;
		}

		i {
			font-size: 0.875rem;
			font-weight: 600;
			margin: 0 0 0 0.3rem;
		}
	}

	.disconnect {
		display: inline-block;
		color: var(--primary-red);
		cursor: pointer;
	}
}

.nti-integratins-goto-webinar-list-item-flyout {
	.disconnect {
		display: block;
		color: var(--primary-red);
		font: normal 400 0.875rem/1.3 $body-font-family;
		padding: 0.625rem 1rem;
		cursor: pointer;
		width: 200px;
	}
}
